# LangChain Core
langchain
langchain-core
langchain-classic

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

#Streamlit
streamlit

#pydantic
pydantic
email-validator

torch

grandalf

chromadb
openai
tiktoken
pypdf
langchain_openai
langchain_community
langchain_chroma

faiss-cpu
wikipedia
requests